.container {
	display: flex;
	flex-direction: column;
	min-width: 400px;
	max-width: 400px;
	height: min-content;
	border-radius: 6px;
	background-color: #ffffff;
	margin-bottom: 64px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
				0 6.7px 5.3px rgba(0, 0, 0, 0.034),
				0 12.5px 10px rgba(0, 0, 0, 0.06),
				0 22.3px 17.9px rgba(0, 0, 0, 0.034),
				0 41.8px 33.4px rgba(0, 0, 0, 0.034),
				0 100px 80px rgba(0, 0, 0, 0.12);
}
/*----Divider----*/

.divider {
	height: 1px;
	width: 100%;
	background-color: #F0F2F7;
}
/*----Character Styles----*/

p, label {
	font-size: 0.6875em;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	color: #3B55E6;
}
label {
	margin-left: 14px;
}
/*----Input----*/

input[type=text], [type=password] {
	height: 44px;
	background-color: #F0F2F7;
	border-style: none;
	border-radius: 44px;
	border: 1px solid #E3E8F0;
	width: 100%;
	margin: 0 auto;
	padding: 14px;
	padding-left: 48px;
	font-size: 0.8125em;
	font-weight: 500;
	background-position: 14px;
	background-repeat: no-repeat;
	margin-top: 6px;
	margin-bottom: 16px;
	color: #3B55E6;
}
input[type=text] {
	background-image: url('../images/mail.svg');
}
[type=password] {
	background-image: url('../images/lock.svg');
}
::placeholder {
	color: #B9BED1;
}
input:hover {
	border-style: none;
	border: 1px solid #B9BED1;
	background-color: #E6EAFF;
}
input:focus {
	outline: none;
	border-radius: 44px;
	border: 1px solid #3B55E6;
	background-color: #E6EAFF;
}
/*----Buttons----*/

button {
	border-style: none;
	border-radius: 50px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 0.6875em;
	font-weight: 700;
	height: 44px;
	letter-spacing: 1.3px;
	outline: none;
	text-transform: uppercase;
	width: 100%;
}
.primary-btn {
	background-color: #3B55E6;
}
.primary-btn:hover {
	background-color: #405CFB;
}
.dark-btn {
	background-color: #000000;
	color: #ffffff;
}
.dark-btn:hover {
	background-color: #1A1A1A;
}
.select {
	width: 100%;
	margin-top: 6px;
	margin-bottom: 16px;
}
.select_country, .select_city {
	height: 44px;
	width: 100%;
	padding: 14px;
	color: #616263;
	background-image: url('../images/down_arrow.svg');
	background-repeat: no-repeat;
	background-position: right 14px center;
	background-color: #F0F2F7;
	border-radius: 44px;
	border: 1px solid #E3E8F0;
	outline: none;
	font-size: 0.8125em;
	font-weight: 400;
	-webkit-appearance: none;
	/*---for webkit browsers---*/
	-moz-appearance: none;
	/*---for firefox ---*/
	appearance: none;
	/* ---for modern browsers--- */
}
/*remove default caret for ie */

.select_country::-ms-expand {
	display: none;
}
.select_country:focus {
	border: 1px solid #3B55E6;
}
.select_city::-ms-expand {
	display: none;
}
.select_city:focus {
	border: 1px solid #3B55E6;
}
.select>.select_city {
	margin-bottom: 16px;
}
a {
	color: #707070;
}