* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body {
	background-color: #3B55E6;
	padding: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.allforms {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.containerheading, .close {
	display: flex;
	align-items: center;
	justify-content: center;
}
.containerheading {
	width: 100%;
	height: 40px;
}
.heading {
	flex-grow: 1;
	padding: 5.4054054054%;
}
.close {
	flex-grow: 1;
	max-width: 40px;
	height: 40px;
}
.close:hover {
	background-color: #E3E8F0;
	cursor: pointer;
	border-top-right-radius: 6px;
}
.containerform {
	padding: 10.8108108108%;
}
.login .primary-btn {
	margin-top: 54px;
}
.socialicons {
	display: flex;
	width: 60%;
	justify-content: center;
	margin: 0 auto;
}
.fb, .gplus, .twitter {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}
.fb, .gplus, .twitter:hover {
	cursor: pointer;
}
.social-login {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	margin: 16px auto;
}
.social-login p {
	color: #B9BED1;
}
.dash {
	width: 25.6809338521%;
	height: 1px;
	background-color: #F0F2F7;
	margin: 0 8px 0 8px;
}
/*------*/

.restore-password .primary-btn {
	margin-top: 24px;
}
/*------*/

.newsletter {
	background-color: #3B55E6;
}
.envelope {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.containerform h3, h4 {
	color: #ffffff;
	font-size: 22px;
	font-weight: 300;
	text-align: center;
}
.containerform h4 {
	font-weight: 800;
	margin-bottom: 32px;
}
/*------*/

form>.divider {
	margin-top: 16px;
	margin-bottom: 28px;
}
.terms {
	margin: -12px 0 18px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.terms>label {
	font-size: 13px;
	color: #707070;
	font-weight: 300;
	text-align: center;
	text-transform: none;
	margin-left: 8px;
}
.fullname, .city-pin {
	display: flex;
	justify-content: space-between;
}
.firstname, .lastname, .city, .pincode {
	display: flex;
}
.city-pin .select {
	margin-bottom: 0;
}
.select_city {
	height: auto;
}
.address-setting .primary-btn {
	margin-top: 24px;
}

.firstname, .lastname, .city, .pincode {
	display: flex;
	flex-grow: 1;
	max-width: 48%;
	flex-direction: column;
}
.fullname input[type=text] {
	background-image: none;
	padding-left: 16px;
}
.address-setting input {
	background-image: none;
	padding-left: 16px;
}
.login, .signup, .address-setting, .restore-password {
	margin-right: 58px;
}
@media only screen and (max-width: 1901px) {
	.newsletter {
		margin-right: 58px;
	}
}
@media only screen and (max-width: 768px) {
	.login, .signup, .address-setting, .restore-password, .newsletter {
		margin-right: 0;
	}
}
@media only screen and (max-width: 360px) {
	body {
		max-width: 360px;
		padding: 0;
		padding-top: 16px;
	}
	.container {
		min-width: 100%;
		max-width: 100%;
		border-radius: 0;
		margin: 0;
		margin-bottom: 16px
	}
}